applications:
- path: .
  memory: 512M
  instances: 1
  domain: mybluemix.net
  name: generic-watson-agent
  host: generic-watson-agent
  disk_quota: 1024M
env:
  CONVERSATION_API_URL:
  ALCHEMY_API_KEY:
  ALCHEMY_BASE_URL: https://gateway-a.watsonplatform.net/calls/
  ALCHEMY_SENTIMENT_PATH: text/TextGetTextSentiment
  ALCHEMY_EMOTION_PATH: text/TextGetEmotion
