<div bsModal #detailsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="detailsModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">What does Watson know?</h4>
      </div>
      <div class="modal-body">
          <p *ngIf="sentiment"> The user's recent messages have a <b> {{sentiment}}</b> sentiment </p>
          <wcga-sentiment-chart [sentimentData]="previousSentiment"> </wcga-sentiment-chart>
          <br>
          <p *ngIf="primaryEmotion"> The user's primary emotion is <b> {{primaryEmotion}} </b>{{emotionConfidence}} </p>
          <p *ngIf="sampleText"> This is where a developer would include a narrative about what Watson knows about the user per the conversation context </p>
          <br>
          <hr>
          <h5> What is this? </h5>
          <p> These are a subset of the possible insights that Watson can learn about a customer through conversation. As an app grows, Watson Conversation can expand the breadth and depth of its domain knowledge and learn more about a customer </p>
      </div>
    </div>
  </div>
</div>
