.message-box {
  margin: 20px 0px;
  overflow: hidden;
}
.to-watson {
  margin-left: 30%;
}
.to-watson-icon {
  float: right;
  font-size: 40px;
}
.to-watson-inner {
  padding: 0px 20px;
  border-radius: 20px;
  float: right;
  max-width: calc(100% - 60px);
}

.from-watson {
  max-width: 70%;
}
.from-watson-icon {
  float: left;
}
.from-watson-inner {
  background: #4178be;
  color: white;
  padding: 15px 20px;
  border-radius: 20px;
  float: left;
  max-width: calc(100% - 60px);
}
