<div class="row">
  <div class="col-xs-12">
    <div class="chatbox">
      <div class="scrolling-box" id='scrolling-chat-box'>
        <wcga-chatbubble *ngFor='let message of messages' direction="{{message.direction}}" message="{{message.message}}" type="{{message.type}}" [enrichment]="message.enrichment"> </wcga-chatbubble>
      </div>
      <wcga-chatinput
        (sendMessage)="postMessage($event)">
      </wcga-chatinput>
      <wcga-watson-details [context]="context" [messages]="messages" > </wcga-watson-details>
    </div>
  </div>
</div>
